[Unit]
Description=Cisecraft Minecraft Server
ConditionHost=storm.cise.ufl.edu

[Service]
Type=simple
ExecStart=/bin/sh ${HOME}/cisecraft/server
SuccessExitStatus=143

[Install]
WantedBy=default.target
